{{#if display_helper}}
<li>
	
	{{name}}

	<button type="button" class="btn btn-danger devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour IT!{{else}}{{/if}}
	</button>
</li>
{{/if}}