li {
  padding: 5px;
  margin: 5px;
  background: 
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h3 {
  padding-right: 100px;
}